.body{
	margin: 0;
	font-family: 'Montserrat', sans-serif;
	
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
.container{
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

/*intro*/

.intro{
    width: 100%;
    height: 100vh;
    background: url(images/img1.jpg) center no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.intro_inner{
    width: 100%;
    max-width: 880px;
    margin: 0 auto;
}
.intro_title{
    color: white;
    font-size: 120px;
    text-align: center;
}
.intro_suptitle{
    color: white;
    font-size: 140px;
    text-align: center;
    text-transform: uppercase;
    font-weight: 700;
}

/*section*/

.section{
    padding: 30px 0 0 0;
    height: 180vh;
}
.section_header{
    width: 100%;
    max-width: 950px;
    margin: 0 auto 40px;
    text-align: center;
}
.month{
    font-size: 80px;
    color: #333;
    text-transform: uppercase;

}
.section_text {
    font-size: 25px;
    color: #666;
}
.month:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #f38181;
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 4px;
  }
.column {
    flex: 50%;
    padding: 0 4px;
}
.column img {
    margin-top: 8px;
    vertical-align: middle;
}
.img2{
    width: 40%;
}
.img3{
    width: 25%;
}
.img4{
    width: 32%;
}
.img5{
    width: 35%;
}
.img13{
    width: 33%;
}
.img9{
    width: 30%;
    height: 40%;
}
.img7{
    width: 30%;
    height: 40%;
}
.img18{
    width: 40%;
}
.img12{
    width: 29%;
    height: 40%;
}
.img16{
    width: 35%;
}
.img15{
    width: 23%;
}
.img6{
    width: 35%;
    height: 40%;
}
.img11{
    width: 29%;
    height: 40%;
}
.img19{
    width: 40%;
}
.img14{
    width: 29%;
    height: 40%;
}
.img8{
    width: 30%;
    height: 40%;
}
.footer_text:after {
    content: "";
    display: block;
    width: 60px;
    height: 3px;
    margin: 30px auto;
    background-color: #f38181;
}
.column {
    overflow: hidden; /* Скрываем всё за контуром */
   }
   .column img {
    transition: 1s; /* Время эффекта */
   }
   .column img:hover {
    transform: scale(1.2); /* Увеличиваем масштаб */
   }